/bazel-*
.idea
.ijwb
.clwb
/coverage
# The lockfile speeds up local builds, but is still quite verbose and potentially
# platform-dependent. Ignore it for now.
# https://github.com/bazelbuild/bazel/issues/20369
MODULE.bazel.lock

# Local build tools, verification artifacts and the deliverable.
/tools/bazel*
/tools/google-java-format.jar
/build/
/tkur_jazzer_standalone.jar
/tkur_jazzer_standalone.jar.sha256
